/*============================================================================
  #Normalize
==============================================================================*/
*, input, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*============================================================================
  #Layout
==============================================================================*/
body {
  background-color: #000;
  color: #fff;
  text-align:center;
}

main {
  position: fixed;
  z-index: 4;
}

.container {
  background-repeat: no-repeat;
  height:100%;
  left:0;
  position: fixed;
  top: 0;
  width: 100%;
}

#bg-img {
  /* TODO: Remove */
  background-image: url('../images/bridge.jpg');
  z-index: 1;
}

#bg-overlay {
  background: #000;
  opacity: 0.5;
  z-index: 3;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

#bg-overlay.faded {
  opacity: 0.1;
}

#bg-tmp {
  background-image: url('../images/bridge-sm.jpg');
  opacity: 1;
  z-index: 2;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

#bg-tmp.faded {
  opacity: 0;
}

.btn {
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.6) 2%, rgba(0,0,0,0.4) 100%);
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 100px;
  color: #fff;
  display:inline-block;
  font-size: 20px;
  line-height: 1;
  margin-left:-108px;
  padding: 15px 20px;
  position: fixed;
  left: 50%;
  text-decoration: none;
  z-index: 5;
}

.btn:hover {
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.85) 2%, rgba(0,0,0,0.65) 100%);
  border: 1px solid rgba(255,255,255,0.85);
}

.btn strong {
  font-weight: 400;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: rgba(255,255,255,0.50);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

/*============================================================================
  #Typography
==============================================================================*/
body {
  font-family: "freight-sans-pro", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight:300;
  line-height:32px;
}

h1 {
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
}

h1 strong {
  font-weight: 400;
}

/*============================================================================
  #Responsive
==============================================================================*/

@media (min-width: 768px and max-width: 1024px) {
  h1 {
    font-size: 32px;
  }

  .btn span {
    display:none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  .btn span {
    display:none;
  }
}
